.search-button{
    background-color:#f2f2f2;
    border: 1px solid#f2f2f2;
    color:#5F6368;
    font-size: 14px;
    padding: 12px;
    border-radius: 5%;
    margin: 5px;   
    font-family: arial,sans-serif;
    width: auto;
    height: 40px;
}

.search-button:hover {
    cursor: pointer;
    box-shadow: 0px 0.5px 0.7px #b3b3b3;
    border: 0.7px solid #e0e0e0;
    color: black;
    background-image: linear-gradient(to bottom, rgba(242,242,242,0), rgba(242, 242, 242, 0.5));
}

.main-content{
    display: inline-block;
    margin: auto;
    width: 100%;
    min-width: 1150px;
    text-align: center;
    margin-top: 50px;
}

.grid i{
    color: grey;
}

.grid i:hover{
    color: black;
}

.buttons-container{
    margin: 20px;
    text-align: center;
}

.search-field{
    font-size: 16px;
    margin: 10px;
    border: 0px;
    font-family: arial,sans-serif;
    float: left;
    width: 90%; 
}

.search-field:focus{
    outline-color: white;
}

.search-form{
    border: 1px solid#f2f2f2;
    border-radius: 50px;
    box-shadow: 0px 2px 6px 1px #cfcfcfb3;
    display: inline-block; 
    margin: 0 auto;
    width: 550px;
}

.search-form i{
    float: left;
    padding-top: 0.75rem;
    padding-left: 1rem;
    color: #80808087;
}


.google-logo{
    padding-bottom: 20px;
    text-align: center;
}

.google-logo img{
    width: 270px;
    height: auto;
}

.navbar{
    list-style-type: none;
    margin: 0;
    position: relative;
    min-width: 1150px;
}

.nav-left{
    float: left;
    padding-top: 24px;
    padding-left: 26px;
    padding-right: 0px;
    position: sticky;
}

.nav-right{
    float: right;
    padding-top: 24px;
    padding-right: 23px;
    padding-left: 5px;
}

.navlink{
    margin-bottom: 100px;
}

.button button{
    border: 1px solid #4285f4;
    border-radius: 2px;
    background-color: #4285f4;
    font-weight: bold;
    color: white;
    height: 1.8rem;
    width: 4rem;
}

.button {
    padding-top: 18px;
}

.button button:hover{
    box-shadow: 0 1px #80808029;
}

.button button:focus{
    outline: none;
}

.button button:active{
    background-color: #3c7ae4;
    border-color: #3c7ae4;
}

.nav-left a{
    text-decoration: none;
    font-family: arial,sans-serif; 
    font-size: 13px;
    color: #000000a3;
}

.nav-right a{
    text-decoration: none;
    font-family: arial,sans-serif; 
    font-size: 13px;
    color: black;
}

.navbar a:hover{
    text-decoration: underline;
}

#footer-nav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 40px;
    background-color: #f2f2f2;
    color: #cfcfcfb3;
    text-align: center;
    border-top: 1px solid #81818126;
    min-width: 1105px;
}

#footer-nav a{
    color: #818181;
}

#footer-nav a:hover{
    text-decoration: underline;
}

#footer-nav .nav-left{
    padding-top: 11px;
    padding-left: 23px;
    padding-right: 5px;
}

#footer-nav .nav-right{
    padding-top: 11px;
    padding-left: 5px;
    padding-right: 23px;
}








