.search-button{
    background-color:#f2f2f2;
    border: 1px solid#f2f2f2;
    color:#5F6368;
    font-size: 14px;
    padding: 12px;
    border-radius: 5%;
    margin: 5px;   
    font-family: arial,sans-serif;
    width: auto;
    height: 40px;
}

.search-button:hover {
    cursor: pointer;
    box-shadow: 0px 0.5px 0.7px #b3b3b3;
    border: 0.7px solid #e0e0e0;
    color: black;
    background-image: linear-gradient(to bottom, rgba(242,242,242,0), rgba(242, 242, 242, 0.5));
}

.main-content{
    padding-top: 50px;
    position: fixed;
    top: 20%;
    left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1115px;
}

.buttons-container{
    margin: 20px;
    text-align: center;
}

.search-field{
    font-size: 16px;
    margin: 10px;
    border: 0px;
    font-family: arial,sans-serif;
    width: 31.5rem;
}

.search-field:focus{
    outline-color: white;
}

.search-form{
    border: 1px solid#f2f2f2;
    border-radius: 50px;
    box-shadow: 0px 2px 6px 1px #cfcfcfb3;
    padding-left: 17px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center; 
}


.google-logo{
    padding-bottom: 20px;
    text-align: center;
}

.google-logo img{
    width: 270px;
    height: auto;
}

.navbar{
    list-style-type: none;
    padding-bottom: 100px;
    margin: 0;
    position: relative;
    min-width: 1150px;
}

.nav-left{
    float: left;
    padding-top: 24px;
    padding-left: 26px;
    padding-right: 0px;
    position: sticky;
}

.nav-right{
    float: right;
    padding-top: 24px;
    padding-right: 23px;
    padding-left: 5px;
    position: sticky;
}

.nav-right img{
    display: inline;
}

.navbar a{
    text-decoration: none;
    font-family: arial,sans-serif; 
    font-size: 14px;
    color: #000000a3;
}

.navbar a:hover{
    text-decoration: underline;
}






